.character-col {
  text-align: center;
  padding: 10px;
}

.name {
  font-size: 14px;
  font-weight: 800;
  color: red;
  margin: 10px auto;
  text-shadow: 1px 1px 6px #555;
}

.character-card {
  width:100%;
}

.hp {
  height: 15px;
  width: 15px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  margin: 15px auto;
}

.dice {
  text-align:center;
}

img{border:solid 1px red; margin:10px;}
.selected{
   border:solid 5px #888;
}

#d1 {
  display: none;
}
#d2 {
  display: none;
}
#d3 {
  display: none;
}
#d4 {
  display: none;
}
#d5 {
  display: none;
}
#d6 {
  display: none;
}
#d7 {
  display: none;
}
#d8 {
  display: none;
}
#d9 {
  display: none;
}
#d10 {
  display: none;
}
